lib
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build/
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
config/version
configure
configure.ac
src/include
*.swp
